

.top-part{
  background-color: #777777;
  height: 500px;
  padding-top: 135px;
  margin-bottom: 30px;
  color: #fff;
  background-image: url(http://www.planwallpaper.com/static/images/abstract-wallpaper-20.jpg);
 }


 

  